-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: nexo_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `autor`
--

DROP TABLE IF EXISTS `autor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autor` (
  `id_autor` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_autor`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autor`
--

LOCK TABLES `autor` WRITE;
/*!40000 ALTER TABLE `autor` DISABLE KEYS */;
/*!40000 ALTER TABLE `autor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avaliacao`
--

DROP TABLE IF EXISTS `avaliacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avaliacao` (
  `id_avaliacao` int NOT NULL AUTO_INCREMENT,
  `id_livro` int NOT NULL,
  `id_cliente` int NOT NULL,
  `estrelas` tinyint NOT NULL,
  `comentario` text COLLATE utf8mb4_unicode_ci,
  `data_avaliacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_avaliacao`),
  UNIQUE KEY `uq_avaliacao_livro_cliente` (`id_livro`,`id_cliente`),
  KEY `fk_avaliacao_cliente` (`id_cliente`),
  KEY `idx_avaliacao_livro` (`id_livro`),
  CONSTRAINT `fk_avaliacao_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_avaliacao_livro` FOREIGN KEY (`id_livro`) REFERENCES `livro` (`id_livro`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `avaliacao_chk_1` CHECK ((`estrelas` between 1 and 5))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avaliacao`
--

LOCK TABLES `avaliacao` WRITE;
/*!40000 ALTER TABLE `avaliacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `avaliacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bandeira_cartao`
--

DROP TABLE IF EXISTS `bandeira_cartao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bandeira_cartao` (
  `id_bandeira` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_bandeira`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bandeira_cartao`
--

LOCK TABLES `bandeira_cartao` WRITE;
/*!40000 ALTER TABLE `bandeira_cartao` DISABLE KEYS */;
INSERT INTO `bandeira_cartao` VALUES (4,'American Express'),(3,'Elo'),(5,'Hipercard'),(2,'Mastercard'),(1,'Visa');
/*!40000 ALTER TABLE `bandeira_cartao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrinho`
--

DROP TABLE IF EXISTS `carrinho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrinho` (
  `id_carrinho` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `data_criacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_carrinho`),
  UNIQUE KEY `id_cliente` (`id_cliente`),
  CONSTRAINT `fk_carrinho_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrinho`
--

LOCK TABLES `carrinho` WRITE;
/*!40000 ALTER TABLE `carrinho` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrinho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cartao_credito`
--

DROP TABLE IF EXISTS `cartao_credito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartao_credito` (
  `id_cartao` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `id_bandeira` int NOT NULL,
  `numero_cartao` varchar(25) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome_impresso` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_seguranca` varchar(4) COLLATE utf8mb4_unicode_ci NOT NULL,
  `preferencial` tinyint(1) NOT NULL DEFAULT '0',
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_cartao`),
  KEY `fk_cartao_bandeira` (`id_bandeira`),
  KEY `idx_cartao_cliente` (`id_cliente`),
  CONSTRAINT `fk_cartao_bandeira` FOREIGN KEY (`id_bandeira`) REFERENCES `bandeira_cartao` (`id_bandeira`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_cartao_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cartao_credito`
--

LOCK TABLES `cartao_credito` WRITE;
/*!40000 ALTER TABLE `cartao_credito` DISABLE KEYS */;
/*!40000 ALTER TABLE `cartao_credito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `id_categoria` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_categoria`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (3,'Arte'),(6,'Biografia'),(2,'Ci├¬ncia'),(1,'Filosofia'),(4,'Hist├│ria'),(5,'Literatura');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `codigo_cliente` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `genero` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_nascimento` date NOT NULL,
  `cpf` varchar(14) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefone_tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefone_ddd` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefone_numero` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ranking` decimal(5,2) NOT NULL DEFAULT '0.00',
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `data_cadastro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_inativacao` datetime DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  UNIQUE KEY `codigo_cliente` (`codigo_cliente`),
  UNIQUE KEY `cpf` (`cpf`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupom`
--

DROP TABLE IF EXISTS `cupom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cupom` (
  `id_cupom` int NOT NULL AUTO_INCREMENT,
  `codigo_cupom` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('PROMOCIONAL','TROCA') COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `id_cliente` int NOT NULL,
  `id_pedido_origem` int DEFAULT NULL,
  `utilizado` tinyint(1) NOT NULL DEFAULT '0',
  `valido_de` date NOT NULL,
  `valido_ate` date NOT NULL,
  PRIMARY KEY (`id_cupom`),
  UNIQUE KEY `codigo_cupom` (`codigo_cupom`),
  KEY `fk_cupom_pedido_origem` (`id_pedido_origem`),
  KEY `idx_cupom_cliente` (`id_cliente`),
  CONSTRAINT `fk_cupom_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cupom_pedido_origem` FOREIGN KEY (`id_pedido_origem`) REFERENCES `pedido` (`id_pedido`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_cupom_validade` CHECK ((`valido_ate` >= `valido_de`)),
  CONSTRAINT `cupom_chk_1` CHECK ((`valor` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupom`
--

LOCK TABLES `cupom` WRITE;
/*!40000 ALTER TABLE `cupom` DISABLE KEYS */;
/*!40000 ALTER TABLE `cupom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `editora`
--

DROP TABLE IF EXISTS `editora`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `editora` (
  `id_editora` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_editora`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `editora`
--

LOCK TABLES `editora` WRITE;
/*!40000 ALTER TABLE `editora` DISABLE KEYS */;
/*!40000 ALTER TABLE `editora` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `endereco`
--

DROP TABLE IF EXISTS `endereco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `endereco` (
  `id_endereco` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `nome_identificador` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('ENTREGA','COBRANCA','AMBOS') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_residencia` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_logradouro` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logradouro` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `numero` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bairro` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cep` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cidade` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pais` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `observacoes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `padrao` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_endereco`),
  KEY `idx_endereco_cliente` (`id_cliente`),
  CONSTRAINT `fk_endereco_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `endereco`
--

LOCK TABLES `endereco` WRITE;
/*!40000 ALTER TABLE `endereco` DISABLE KEYS */;
/*!40000 ALTER TABLE `endereco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrada_estoque`
--

DROP TABLE IF EXISTS `entrada_estoque`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrada_estoque` (
  `id_entrada` int NOT NULL AUTO_INCREMENT,
  `id_livro` int NOT NULL,
  `id_fornecedor` int NOT NULL,
  `id_funcionario` int NOT NULL,
  `quantidade` int NOT NULL,
  `valor_custo` decimal(10,2) NOT NULL,
  `data_entrada` date NOT NULL,
  PRIMARY KEY (`id_entrada`),
  KEY `fk_entrada_fornecedor` (`id_fornecedor`),
  KEY `fk_entrada_funcionario` (`id_funcionario`),
  KEY `idx_entrada_livro` (`id_livro`),
  CONSTRAINT `fk_entrada_fornecedor` FOREIGN KEY (`id_fornecedor`) REFERENCES `fornecedor` (`id_fornecedor`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_entrada_funcionario` FOREIGN KEY (`id_funcionario`) REFERENCES `funcionario` (`id_funcionario`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_entrada_livro` FOREIGN KEY (`id_livro`) REFERENCES `livro` (`id_livro`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `entrada_estoque_chk_1` CHECK ((`quantidade` > 0)),
  CONSTRAINT `entrada_estoque_chk_2` CHECK ((`valor_custo` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrada_estoque`
--

LOCK TABLES `entrada_estoque` WRITE;
/*!40000 ALTER TABLE `entrada_estoque` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrada_estoque` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fornecedor`
--

DROP TABLE IF EXISTS `fornecedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fornecedor` (
  `id_fornecedor` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cnpj` varchar(18) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contato` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_fornecedor`),
  UNIQUE KEY `cnpj` (`cnpj`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fornecedor`
--

LOCK TABLES `fornecedor` WRITE;
/*!40000 ALTER TABLE `fornecedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `fornecedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funcionario`
--

DROP TABLE IF EXISTS `funcionario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funcionario` (
  `id_funcionario` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `perfil` enum('ADMIN','GERENTE_VENDAS','OPERADOR_ESTOQUE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `data_cadastro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_funcionario`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funcionario`
--

LOCK TABLES `funcionario` WRITE;
/*!40000 ALTER TABLE `funcionario` DISABLE KEYS */;
INSERT INTO `funcionario` VALUES (1,'Administrador Nexo','admin@nexo.com','$2a$10$1X/7AF3m/I7y5H8QEb8zjuv.8GsEj9euPRtbo2OMhvY/T/BT2WoWO','ADMIN',1,'2026-09-18 20:06:33');
/*!40000 ALTER TABLE `funcionario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupo_precificacao`
--

DROP TABLE IF EXISTS `grupo_precificacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grupo_precificacao` (
  `id_grupo` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `margem_lucro_percentual` decimal(6,2) NOT NULL,
  PRIMARY KEY (`id_grupo`),
  UNIQUE KEY `nome` (`nome`),
  CONSTRAINT `grupo_precificacao_chk_1` CHECK ((`margem_lucro_percentual` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupo_precificacao`
--

LOCK TABLES `grupo_precificacao` WRITE;
/*!40000 ALTER TABLE `grupo_precificacao` DISABLE KEYS */;
INSERT INTO `grupo_precificacao` VALUES (1,'Padr├úo',40.00),(2,'Premium',60.00),(3,'Promocional',20.00);
/*!40000 ALTER TABLE `grupo_precificacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interacao_chatbot`
--

DROP TABLE IF EXISTS `interacao_chatbot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interacao_chatbot` (
  `id_interacao` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `mensagem_cliente` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `resposta_ia` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_interacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_interacao`),
  KEY `idx_interacao_cliente` (`id_cliente`),
  CONSTRAINT `fk_interacao_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interacao_chatbot`
--

LOCK TABLES `interacao_chatbot` WRITE;
/*!40000 ALTER TABLE `interacao_chatbot` DISABLE KEYS */;
/*!40000 ALTER TABLE `interacao_chatbot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_carrinho`
--

DROP TABLE IF EXISTS `item_carrinho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_carrinho` (
  `id_item_carrinho` int NOT NULL AUTO_INCREMENT,
  `id_carrinho` int NOT NULL,
  `id_livro` int NOT NULL,
  `quantidade` int NOT NULL,
  `data_bloqueio` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_expiracao_bloqueio` datetime NOT NULL,
  `notificado_expiracao` tinyint(1) NOT NULL DEFAULT '0',
  `removido_por_expiracao` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_item_carrinho`),
  KEY `fk_itemcarrinho_livro` (`id_livro`),
  KEY `idx_itemcarrinho_carrinho` (`id_carrinho`),
  KEY `idx_itemcarrinho_expiracao` (`data_expiracao_bloqueio`),
  CONSTRAINT `fk_itemcarrinho_carrinho` FOREIGN KEY (`id_carrinho`) REFERENCES `carrinho` (`id_carrinho`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_itemcarrinho_livro` FOREIGN KEY (`id_livro`) REFERENCES `livro` (`id_livro`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `item_carrinho_chk_1` CHECK ((`quantidade` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_carrinho`
--

LOCK TABLES `item_carrinho` WRITE;
/*!40000 ALTER TABLE `item_carrinho` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_carrinho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_pedido`
--

DROP TABLE IF EXISTS `item_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_pedido` (
  `id_item_pedido` int NOT NULL AUTO_INCREMENT,
  `id_pedido` int NOT NULL,
  `id_livro` int NOT NULL,
  `quantidade` int NOT NULL,
  `valor_unitario` decimal(10,2) NOT NULL,
  `valor_total_item` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_item_pedido`),
  KEY `idx_itempedido_pedido` (`id_pedido`),
  KEY `idx_itempedido_livro` (`id_livro`),
  CONSTRAINT `fk_itempedido_livro` FOREIGN KEY (`id_livro`) REFERENCES `livro` (`id_livro`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_itempedido_pedido` FOREIGN KEY (`id_pedido`) REFERENCES `pedido` (`id_pedido`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `item_pedido_chk_1` CHECK ((`quantidade` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_pedido`
--

LOCK TABLES `item_pedido` WRITE;
/*!40000 ALTER TABLE `item_pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_troca`
--

DROP TABLE IF EXISTS `item_troca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_troca` (
  `id_item_troca` int NOT NULL AUTO_INCREMENT,
  `id_troca` int NOT NULL,
  `id_item_pedido` int NOT NULL,
  `quantidade` int NOT NULL,
  PRIMARY KEY (`id_item_troca`),
  KEY `fk_itemtroca_itempedido` (`id_item_pedido`),
  KEY `idx_itemtroca_troca` (`id_troca`),
  CONSTRAINT `fk_itemtroca_itempedido` FOREIGN KEY (`id_item_pedido`) REFERENCES `item_pedido` (`id_item_pedido`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_itemtroca_troca` FOREIGN KEY (`id_troca`) REFERENCES `troca` (`id_troca`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `item_troca_chk_1` CHECK ((`quantidade` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_troca`
--

LOCK TABLES `item_troca` WRITE;
/*!40000 ALTER TABLE `item_troca` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_troca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livro`
--

DROP TABLE IF EXISTS `livro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livro` (
  `id_livro` int NOT NULL AUTO_INCREMENT,
  `codigo_livro` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `titulo` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `isbn` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_autor` int NOT NULL,
  `id_editora` int NOT NULL,
  `ano_publicacao` smallint NOT NULL,
  `edicao` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `num_paginas` int NOT NULL,
  `sinopse` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `altura` decimal(6,2) NOT NULL,
  `largura` decimal(6,2) NOT NULL,
  `peso` decimal(6,3) NOT NULL,
  `profundidade` decimal(6,2) NOT NULL,
  `codigo_barras` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_grupo_precificacao` int NOT NULL,
  `valor_custo` decimal(10,2) NOT NULL DEFAULT '0.00',
  `valor_venda` decimal(10,2) NOT NULL DEFAULT '0.00',
  `quantidade_estoque` int NOT NULL DEFAULT '0',
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `id_motivo_status` int DEFAULT NULL,
  `justificativa_status` text COLLATE utf8mb4_unicode_ci,
  `data_cadastro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_livro`),
  UNIQUE KEY `codigo_livro` (`codigo_livro`),
  UNIQUE KEY `isbn` (`isbn`),
  UNIQUE KEY `codigo_barras` (`codigo_barras`),
  KEY `fk_livro_grupo_precificacao` (`id_grupo_precificacao`),
  KEY `fk_livro_motivo_status` (`id_motivo_status`),
  KEY `idx_livro_titulo` (`titulo`),
  KEY `idx_livro_autor` (`id_autor`),
  KEY `idx_livro_editora` (`id_editora`),
  KEY `idx_livro_ativo` (`ativo`),
  CONSTRAINT `fk_livro_autor` FOREIGN KEY (`id_autor`) REFERENCES `autor` (`id_autor`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_livro_editora` FOREIGN KEY (`id_editora`) REFERENCES `editora` (`id_editora`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_livro_grupo_precificacao` FOREIGN KEY (`id_grupo_precificacao`) REFERENCES `grupo_precificacao` (`id_grupo`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_livro_motivo_status` FOREIGN KEY (`id_motivo_status`) REFERENCES `motivo_status_livro` (`id_motivo`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `livro_chk_1` CHECK ((`num_paginas` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livro`
--

LOCK TABLES `livro` WRITE;
/*!40000 ALTER TABLE `livro` DISABLE KEYS */;
/*!40000 ALTER TABLE `livro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livro_categoria`
--

DROP TABLE IF EXISTS `livro_categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livro_categoria` (
  `id_livro` int NOT NULL,
  `id_categoria` int NOT NULL,
  PRIMARY KEY (`id_livro`,`id_categoria`),
  KEY `fk_livrocat_categoria` (`id_categoria`),
  CONSTRAINT `fk_livrocat_categoria` FOREIGN KEY (`id_categoria`) REFERENCES `categoria` (`id_categoria`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_livrocat_livro` FOREIGN KEY (`id_livro`) REFERENCES `livro` (`id_livro`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livro_categoria`
--

LOCK TABLES `livro_categoria` WRITE;
/*!40000 ALTER TABLE `livro_categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `livro_categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_auditoria`
--

DROP TABLE IF EXISTS `log_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_auditoria` (
  `id_log` int NOT NULL AUTO_INCREMENT,
  `tabela_afetada` varchar(60) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_registro` int NOT NULL,
  `operacao` enum('INSERT','UPDATE','DELETE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_funcionario` int DEFAULT NULL,
  `id_cliente` int DEFAULT NULL,
  `dados_alterados` json DEFAULT NULL,
  `data_hora` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_log`),
  KEY `fk_log_funcionario` (`id_funcionario`),
  KEY `fk_log_cliente` (`id_cliente`),
  KEY `idx_log_tabela` (`tabela_afetada`,`id_registro`),
  CONSTRAINT `fk_log_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_log_funcionario` FOREIGN KEY (`id_funcionario`) REFERENCES `funcionario` (`id_funcionario`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_auditoria`
--

LOCK TABLES `log_auditoria` WRITE;
/*!40000 ALTER TABLE `log_auditoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motivo_status_livro`
--

DROP TABLE IF EXISTS `motivo_status_livro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motivo_status_livro` (
  `id_motivo` int NOT NULL AUTO_INCREMENT,
  `descricao` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('ATIVACAO','INATIVACAO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `automatico` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_motivo`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motivo_status_livro`
--

LOCK TABLES `motivo_status_livro` WRITE;
/*!40000 ALTER TABLE `motivo_status_livro` DISABLE KEYS */;
INSERT INTO `motivo_status_livro` VALUES (1,'Fora de mercado','INATIVACAO',1),(2,'Baixa demanda','INATIVACAO',0),(3,'Erro de cadastro','INATIVACAO',0),(4,'Reposi├º├úo de estoque','ATIVACAO',0),(5,'Reavalia├º├úo editorial','ATIVACAO',0);
/*!40000 ALTER TABLE `motivo_status_livro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido`
--

DROP TABLE IF EXISTS `pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedido` (
  `id_pedido` int NOT NULL AUTO_INCREMENT,
  `codigo_pedido` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_cliente` int NOT NULL,
  `id_endereco_entrega` int NOT NULL,
  `status` enum('EM_ABERTO','EM_PROCESSAMENTO','APROVADA','REPROVADA','EM_TRANSITO','ENTREGUE','EM_TROCA','TROCA_AUTORIZADA','TROCADO','CANCELADO') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'EM_ABERTO',
  `valor_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  `valor_frete` decimal(10,2) NOT NULL DEFAULT '0.00',
  `data_pedido` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_processamento` datetime DEFAULT NULL,
  `data_transporte` datetime DEFAULT NULL,
  `data_entrega` datetime DEFAULT NULL,
  `observacao` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_pedido`),
  UNIQUE KEY `codigo_pedido` (`codigo_pedido`),
  KEY `fk_pedido_endereco` (`id_endereco_entrega`),
  KEY `idx_pedido_cliente` (`id_cliente`),
  KEY `idx_pedido_status` (`status`),
  KEY `idx_pedido_data` (`data_pedido`),
  CONSTRAINT `fk_pedido_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_pedido_endereco` FOREIGN KEY (`id_endereco_entrega`) REFERENCES `endereco` (`id_endereco`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido`
--

LOCK TABLES `pedido` WRITE;
/*!40000 ALTER TABLE `pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_cartao`
--

DROP TABLE IF EXISTS `pedido_cartao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedido_cartao` (
  `id_pedido_cartao` int NOT NULL AUTO_INCREMENT,
  `id_pedido` int NOT NULL,
  `id_cartao` int NOT NULL,
  `valor_pago` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_pedido_cartao`),
  KEY `fk_pedidocartao_cartao` (`id_cartao`),
  KEY `idx_pedidocartao_pedido` (`id_pedido`),
  CONSTRAINT `fk_pedidocartao_cartao` FOREIGN KEY (`id_cartao`) REFERENCES `cartao_credito` (`id_cartao`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_pedidocartao_pedido` FOREIGN KEY (`id_pedido`) REFERENCES `pedido` (`id_pedido`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pedido_cartao_chk_1` CHECK ((`valor_pago` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_cartao`
--

LOCK TABLES `pedido_cartao` WRITE;
/*!40000 ALTER TABLE `pedido_cartao` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido_cartao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_cupom`
--

DROP TABLE IF EXISTS `pedido_cupom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedido_cupom` (
  `id_pedido_cupom` int NOT NULL AUTO_INCREMENT,
  `id_pedido` int NOT NULL,
  `id_cupom` int NOT NULL,
  `valor_utilizado` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_pedido_cupom`),
  UNIQUE KEY `uq_pedido_cupom` (`id_pedido`,`id_cupom`),
  KEY `fk_pedidocupom_cupom` (`id_cupom`),
  KEY `idx_pedidocupom_pedido` (`id_pedido`),
  CONSTRAINT `fk_pedidocupom_cupom` FOREIGN KEY (`id_cupom`) REFERENCES `cupom` (`id_cupom`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_pedidocupom_pedido` FOREIGN KEY (`id_pedido`) REFERENCES `pedido` (`id_pedido`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pedido_cupom_chk_1` CHECK ((`valor_utilizado` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_cupom`
--

LOCK TABLES `pedido_cupom` WRITE;
/*!40000 ALTER TABLE `pedido_cupom` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido_cupom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido_status_historico`
--

DROP TABLE IF EXISTS `pedido_status_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedido_status_historico` (
  `id_historico` int NOT NULL AUTO_INCREMENT,
  `id_pedido` int NOT NULL,
  `id_funcionario` int DEFAULT NULL,
  `status_anterior` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_novo` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_alteracao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_historico`),
  KEY `fk_historico_funcionario` (`id_funcionario`),
  KEY `idx_historico_pedido` (`id_pedido`),
  CONSTRAINT `fk_historico_funcionario` FOREIGN KEY (`id_funcionario`) REFERENCES `funcionario` (`id_funcionario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_historico_pedido` FOREIGN KEY (`id_pedido`) REFERENCES `pedido` (`id_pedido`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido_status_historico`
--

LOCK TABLES `pedido_status_historico` WRITE;
/*!40000 ALTER TABLE `pedido_status_historico` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido_status_historico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recomendacao_ia`
--

DROP TABLE IF EXISTS `recomendacao_ia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recomendacao_ia` (
  `id_recomendacao` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `id_livro` int NOT NULL,
  `score` decimal(5,4) NOT NULL,
  `origem` enum('HISTORICO_COMPRA','PREFERENCIA','CHATBOT','FEEDBACK') COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_geracao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_recomendacao`),
  KEY `fk_recomendacao_livro` (`id_livro`),
  KEY `idx_recomendacao_cliente` (`id_cliente`),
  CONSTRAINT `fk_recomendacao_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_recomendacao_livro` FOREIGN KEY (`id_livro`) REFERENCES `livro` (`id_livro`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `recomendacao_ia_chk_1` CHECK ((`score` between 0 and 1))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recomendacao_ia`
--

LOCK TABLES `recomendacao_ia` WRITE;
/*!40000 ALTER TABLE `recomendacao_ia` DISABLE KEYS */;
/*!40000 ALTER TABLE `recomendacao_ia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `troca`
--

DROP TABLE IF EXISTS `troca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `troca` (
  `id_troca` int NOT NULL AUTO_INCREMENT,
  `id_pedido` int NOT NULL,
  `id_cliente` int NOT NULL,
  `id_funcionario_autorizacao` int DEFAULT NULL,
  `id_cupom_gerado` int DEFAULT NULL,
  `status` enum('SOLICITADA','ACEITA','NEGADA','ITEM_ENVIADO','ITEM_RECEBIDO','PROCESSADA') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'SOLICITADA',
  `motivo` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `retorna_estoque` tinyint(1) DEFAULT NULL,
  `data_solicitacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_autorizacao` datetime DEFAULT NULL,
  `data_processamento` datetime DEFAULT NULL,
  PRIMARY KEY (`id_troca`),
  KEY `fk_troca_funcionario` (`id_funcionario_autorizacao`),
  KEY `fk_troca_cupom` (`id_cupom_gerado`),
  KEY `idx_troca_pedido` (`id_pedido`),
  KEY `idx_troca_cliente` (`id_cliente`),
  KEY `idx_troca_status` (`status`),
  CONSTRAINT `fk_troca_cliente` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_troca_cupom` FOREIGN KEY (`id_cupom_gerado`) REFERENCES `cupom` (`id_cupom`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_troca_funcionario` FOREIGN KEY (`id_funcionario_autorizacao`) REFERENCES `funcionario` (`id_funcionario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_troca_pedido` FOREIGN KEY (`id_pedido`) REFERENCES `pedido` (`id_pedido`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `troca`
--

LOCK TABLES `troca` WRITE;
/*!40000 ALTER TABLE `troca` DISABLE KEYS */;
/*!40000 ALTER TABLE `troca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_vendas_por_categoria_mes`
--

DROP TABLE IF EXISTS `vw_vendas_por_categoria_mes`;
/*!50001 DROP VIEW IF EXISTS `vw_vendas_por_categoria_mes`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_vendas_por_categoria_mes` AS SELECT 
 1 AS `id_categoria`,
 1 AS `categoria`,
 1 AS `ano_mes`,
 1 AS `valor_total_vendas`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_vendas_por_categoria_mes`
--

/*!50001 DROP VIEW IF EXISTS `vw_vendas_por_categoria_mes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_vendas_por_categoria_mes` AS select `c`.`id_categoria` AS `id_categoria`,`c`.`nome` AS `categoria`,date_format(`p`.`data_pedido`,'%Y-%m') AS `ano_mes`,sum(`ip`.`valor_total_item`) AS `valor_total_vendas` from ((((`pedido` `p` join `item_pedido` `ip` on((`ip`.`id_pedido` = `p`.`id_pedido`))) join `livro` `l` on((`l`.`id_livro` = `ip`.`id_livro`))) join `livro_categoria` `lc` on((`lc`.`id_livro` = `l`.`id_livro`))) join `categoria` `c` on((`c`.`id_categoria` = `lc`.`id_categoria`))) where (`p`.`status` in ('APROVADA','EM_TRANSITO','ENTREGUE')) group by `c`.`id_categoria`,`c`.`nome`,date_format(`p`.`data_pedido`,'%Y-%m') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-20 19:46:30
